:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
.axis-label {
  font-size: 12px;
}
.chart-container {
  font-family: Arial, sans-serif;
}
.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
}
.button-filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.label-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: "Lato";
  font-size: 16px;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  width: 5rem;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #80b1d3;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: "Lato";
  font-size: 12px;
}
button.active {
  background: #80b1d3; /* Active background color */
  color: #fff; /* Active text color */
  border-radius: 8px;
  border: 1px solid #80b1d3;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-family: "Lato";
  font-size: 12px;
}
body {
  margin-left: 25rem;
  margin-right: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
h1 {
  margin-top: 5rem;
  font-family: "Montserrat";
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  font-family: "Montserrat";
}
h3 {
  font-family: "Montserrat";
  color: gray;
  padding: 0;
  margin: 0;
}

text {
  font-family: "Lato";
  font-size: 12px;
}
.label {
  font-family: "Lato";
  font-size: 12px;
}
.explainer-text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 160%;
}
.as-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Lato";
  font-size: 16px;
  width: fit-content;
  text-decoration: underline;
  text-decoration-color: #80b1d3;
  text-decoration-thickness: 3px;
}
.as-bold-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  font-family: "Lato";
  font-size: 16px;
  width: fit-content;
  text-decoration: underline;
  text-decoration-color: #80b1d3;
  text-decoration-thickness: 3px;
}
